body{
    color: #48585b;
    font-size: 1rem;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}

a{
  text-decoration: none;
  color: #48585b;
  letter-spacing: 0.05rem;
}

a:hover{
  color: #182532;
}

.block img{
    width: 1.05rem;
    height: 1.05rem;
    margin-bottom: -0.2rem;
}
.con{
    width: 86%;
    margin: 0 auto;
}

@media all and (min-width: 1201px) {
    html{
        font-size: 18px;
    }
    #hello{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    }
    .head{
        width: 13rem;
        height: 3rem;
        margin: 2rem auto;
    }
    #icon{
        display: inline-block;
        width: 10rem;
        padding-left: 3rem;
        height: 3rem;
        line-height: 3rem;
        background-image:url('../favicon.ico');
        background-repeat: no-repeat;
        background-size: 3rem 3rem;
        text-align: right;
        letter-spacing: 0.3rem;
    }
    #view{
        padding-left: 1.5rem;
    }
    .row{
        display: flex;
        /*border-bottom: 0.1rem dashed #ccc;*/
    }

    .list{
        flex-wrap:wrap;
    }
    .block{
        height: 3.5rem;
        line-height: 3.5rem;
        display: inline-block;
        min-width: 10rem;
    }

    .tit{
        flex: none;
        float: left;
        align-self:center;
        width: 5rem;
        padding: 0 3rem;
        text-align: center;
        letter-spacing: 1rem;
    }

    #footer{
        margin: 2.6rem auto 0 auto;
        width: 9.3rem;
        font-size:10px; 
    }
}

@media all and (max-width: 1200px) {
    #hello{
        display: none;
    }
    .head{
        width: 100%;
        height: 3rem;
        line-height: 3rem;
        margin: 1rem auto;
    }
     #icon{
        display: inline-block;
        width: 8rem;
        padding-left: 4rem;
        height: 3rem;
        font-size: 1.2rem;
        line-height: 3rem;
        background-image:url('../favicon.ico');
        background-repeat: no-repeat;
        background-size: 3rem 3rem;
        text-align: left;
    }
    .block{
        height: 3rem;
        line-height: 3rem;
        display: inline-block;
        min-width: 48%;
    }

    .tit{
        padding: 1rem 0;
        text-align: left;
        width: 100%;
        border-bottom: 0.1rem dashed #ccc;
    }

    #footer{
        border-top:1px dashed #888;
        margin-top: 1rem;
        text-align: left;
        height: 3rem;
        line-height: 3rem;
    }

    img.github{
        width: 1.2rem;
        height: 1.2rem;

    }
}
