body{
    color: #666;
    font-size: 1em;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}
a{
    text-decoration: none;
    color: #666;
}
a:hover{
    color:#222;
    text-decoration: underline;
}
.block img{
    width: 1.05em;
    height: 1.05em;
    margin-bottom: -0.2em;
}
.con{
    padding-top: 0.8em;
    width: 90%;
    margin: 0 auto;
}

@media all and (min-width: 1366px) {
    .head{
        width: 100%;
        height: 2.5em;
        line-height: 2.5em;
        display: flex;
        padding-bottom: 0.5em;
    }
    .head img{
        width: 2.5em;
        height: 2.5em;
        padding:0 3.8em 0 2.7em;
    }
    .row{
        display: flex;
        border-top: 0.1em dashed #ccc;
    }

    .list{
        flex-wrap:wrap;
    }
    .block{
        height: 3.2em;
        line-height: 3.2em;
        display: inline-block;
        min-width: 10em;
    }

    .tit{
        flex: none;
        float: left;
        align-self:center;
        width: 3em;
        padding: 0 3em;
        text-align: left;

    }

    #footer{
        border-top: 0.1em dashed #ccc;
        padding: 1em 0 0 3em;
        height: 4em;
    }

    img.github{
        width: 1.3em;
        height: 1.3em;
        padding-right: 4em;
    }
}

@media all and (max-width: 1365px) {
    .head{
        width: 100%;
        height: 2.5em;
        line-height: 2.5em;
        display: flex;
        margin-left: -0.5em;
    }
    .head img{
        width: 2.5em;
        height: 2.5em;
    }
    .block{
        height: 3em;
        line-height: 3em;
        display: inline-block;
        min-width: 48%;
    }

    .tit{
        padding: 1.5em 0;
        text-align: left;
        width: 100%;
        border-bottom: 0.1em dashed #ccc;
    }

    #footer{
        border-top:1px dashed #888;
        margin-top: 1em;
        text-align: left;
        height: 3em;
        line-height: 3em;
    }

    img.github{
        width: 1.2em;
        height: 1.2em;

    }
}
