body{
    color: #666;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: #888;
}
a:hover{
    color:#333;
    text-decoration: underline;
}
img{
    width: 1em;
    height: 1em;
    vertical-align:bottom;
}
.con{
    width: 90%;
    margin: 0 auto;
}

.menu{
    height: 5em;
    line-height: 5em;
    text-align: center;
}

.hi{
    padding: 1em 0;
    height: 1em;
    line-height: 1em;
   
}

.block{
    width: 100%;
    min-height: 3em;
    
}
.color{
    border-bottom: 0.1em dashed #ccc;
}

.hr,.hh{
    display: inline-block;
    float: left;
}
.hh{
    width: 4em;
}
.hr{
    padding-right: 1.5em; 
}

.tit{
    padding-left: 3em;
    padding-right: 2.5em;
}