<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网址索引</title>
    <link rel="stylesheet" href="css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <script src="https://lib.baomitu.com/vue/2.0.3/vue.js"></script>

    <div class="con">

        <div class="head">
            <img src="favicon.ico" alt="简单的网址索引" id="icon"><span>简单的网址索引</span>
        </div>
        <div id="view">
            <div class="row" v-for="webs in xjson">
                <div class="tit">{{webs.tit}}</div>
                <div class="list">
                    <div class="block" v-for="web in webs.list">
                        <!--<img :src="'http://api.byi.pw/favicon/?url='+web.url" />-->
                        <img :src="'https://icons.better-idea.org/icon?url='+getImage(web.url)+'&size=16..32..64'" >
                        <span>
                          <a :href="web.url" target="_blank" rel="noopener">{{web.name}}</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            @XiZero.com Since July 2016
        </footer>
    </div>
    <a href="https://github.com/f12998765/SpeedDial" target="_blank">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
    </a>
    <canvas id="hello" width="1366" height="702"></canvas>
    <script src="js/index.js"></script>
</body>
</html>
