body{
    color: #666;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: #888;
}
a:hover{
    color:#333;
    text-decoration: underline;
}
img{
    width: 1.05em;
    height: 1.05em;
    margin-bottom: -0.2em;
}
.con{
    padding-top: 1.6em;
    width: 90%;
    margin: 0 auto;
}

@media all and (min-width: 1366px) {
    .row{
        display: flex;
        border-bottom: 0.1em dashed #ccc;
    }

    .list{
        flex-wrap:wrap;
    }
    .block{
        height: 3em;
        line-height: 3em;
        padding-right: 1.2em;
        display: inline-block;

    }

    .tit{
        flex: none;
        float: left;
        align-self:center;
        width: 3em;
        padding: 0 3em;
        text-align: left;
        
    }
}

@media all and (max-width: 1365px) {
    .block{
        height: 3em;
        line-height: 3em;
        padding-right: 1.5em;
        display: inline-block;
        
    }

    .tit{
        padding: 2em 0;
        text-align: left;
        width: 100%;
        border-bottom: 0.1em dashed #ccc;   
    } 
}