body,p,li,ul,ol,input{padding: 0;margin: 0;}
:root{
    --img_size:25vw;
    --so_size:88vw;
    --url_size:100vw;
    --icon_size: calc(var(--url_size) / 4 - var(--black_size) * 2);
    --black_size: 4vw;
}
.theme,.so{
    display: none;
}
.con{
    background: #FFF;
}
.icon{
    margin: 10vw auto;
    width: var(--img_size);
    height: var(--img_size);
    background: url("../img/logo.png") no-repeat  center center;
    background-size: 88% 88%;
    border-radius: 50%;
    /* box-shadow: 0 0 10px #DDD; */
}
.ul{
    margin:auto;
    max-width: var(--url_size);
}
.ul li{
    width: var(--icon_size);
    height: var(--icon_size);
    margin: var(--black_size);
    list-style-type: none;
    float: left;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px #ccc;
    background-size: 100% 100%;
}


