.con{
    background: #000;
}

.icon{
    background: url("../img/github_b.svg") no-repeat ;
    background-size: 100% 100%;
}

.theme{
    background: url("../img/theme_b.svg") no-repeat ;
    background-size: 100% 100%;
}

.ul li a{
    color: #666;
}
.ul li:hover a{
    color: #DDD;
}